DATABASE_URL="postgresql://postgres:password@localhost:5433/ipfs_hyperledger_db?schema=public"
BACKEND_BASE_URL="http://localhost:3000"
IPFS_GATEWAY_URL="http://localhost:8081"
NEXT_PUBLIC_IPFS_GATEWAY_URL="http://localhost:8081"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
