PORT=3000
DATABASE_URL="postgresql://postgres:password@localhost:5433/ipfs_hyperledger_db?schema=public"
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=ipfs_hyperledger_db

IPFS_API_URL=http://127.0.0.1:5001
IPFS_GATEWAY_URL=http://localhost:8081
PUBLIC_API_URL=http://localhost:3000
IPFS_GATEWAY_PORT=8081

FABRIC_CHANNEL_NAME=appchannel-etcdraft
FABRIC_CHAINCODE_NAME=ijazah
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=peer1org1.example.com:7051
FABRIC_PEER_TLS_HOST_OVERRIDE=peer1org1.example.com
FABRIC_TLS_CERT_PATH=/fabric-crypto/peerOrganizations/org1.example.com/peers/peer1.org1.ravly.com/tls/cacerts/localhost-7054.pem
FABRIC_CLIENT_CERT_PATH=/fabric-crypto/peerOrganizations/org1.example.com/peers/peer0.org1.ravly.com/msp/signcerts/org1-admin-cert.pem
FABRIC_CLIENT_KEY_PATH=/fabric-crypto/peerOrganizations/org1.example.com/peers/peer0.org1.ravly.com/msp/keystore/org1-admin-key.pem
FABRIC_CRYPTO_HOST_PATH=./fabric-crypto
FABRIC_DOCKER_NETWORK=fabric_migration_net

JWT_SECRET=replace-with-a-long-random-secret
